@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* Home screen */
    .homeMobile{
        background-image: url('../src/images/home/backgroundHomeMobile.jpg')
    }
    .homeTablet{
        background-image: url('../src/images/home/backgroundHomeTablet.jpg');
    }
    .homeDesktop{
        background-image: url('../src/images/home/backgroundHomeDesktop.jpg');
    }

    /* Crew screen  */
    .crewMobile{
        background-image: url('../src/images/crew/backgroundCrewMobile.jpg');
    }
    .crewTablet{
        background-image: url('../src/images/crew/backgroundCrewTablet.jpg');
    }
    .crewDesktop{
        background-image: url('../src/images/crew/backgroundCrewDesktop.jpg');
    }

    /* Destination screen  */
    .destinationMobile{
        background-image: url('./images/destination/backgroundDestinationMobile.jpg');
    }
    .destinationTablet{
        background-image: url('./images/destination/backgroundDestinationTablet.jpg');
    }
    .destinationDesktop{
        background-image: url('./images/destination/backgroundDestinationDesktop.jpg');
    }

    /* Technology screen  */
    .technologyMobile{
        background-image: url('./images/technology/backgroundTechnologyMobile.jpg');
    }
    .technologyTablet{
        background-image: url('./images/technology/backgroundTechnologyTablet.jpg');
    }
    .technologyDesktop{
        background-image: url('./images/technology/backgroundTechnologyDesktop.jpg');
    }

    /* destination screen - planet component */
    .activePlanet{
        @apply underline underline-offset-[14px] decoration-4 decoration-white text-[14px] md:text-base tracking-[2.36px] md:tracking-[2.7px] 
    }

    .unactivePlanet{
        @apply hover:underline underline-offset-[14px] decoration-4 decoration-white/20 text-[14px] md:text-base tracking-[2.36px] md:tracking-[2.7px]
    }

    /* crewSection handling  */
    .activeCrew{
        @apply lg:w-[15px] md:w-[10px] lg:h-[15px] md:h-[10px] bg-white rounded-full 
    }

    .unactiveCrew{
        @apply lg:w-[15px] md:w-[10px] lg:h-[15px] md:h-[10px] bg-white/20 hover:bg-white/50 rounded-full cursor-pointer
    }

    .activeCrewMobile{
        @apply w-[10px] h-[10px] bg-white rounded-full 
    }

    .unactiveCrewMobile{
        @apply w-[10px] h-[10px] bg-white/20 hover:bg-white/50 rounded-full cursor-pointer
    }
}